<table class="table table-dark" id="tab">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Department</th>
            <th scope="col">Option</th>

        </tr>
    </thead>
    <tbody>


        {{#each arrayOfData as |dataobj|}}
        <tr>
            <td> {{dataobj.sno}}</td>
            <td> {{dataobj.fname}}</td>
            <td> {{dataobj.phno}}</td>
            <td> {{dataobj.dept}}</td>
            <td><button class="btn btn-danger" {{action "deleteValue" dataobj.sno }}> Delete </button></td>

        </tr>
        {{/each}}

    </tbody>
</table>