<div class="details">
    Enter id: {{input class = "inp"  type="text"  value = sno }} <br>
    <button class="btn btn-success" {{action "editid" sno}}>Fetch Data</button>

    {{#each mydata as |dataobj|}}

    <div class="model editmodel">

        <div class="sub">
            <div class="heading">Full Name: </div>{{input  type="text"  class="fval edit"  value = dataobj.fname  }}
        </div>
        <div class="sub">
            <div class="heading">Phone Number:</div> {{input  type="text"  class="fval edit"  value = dataobj.phno }}
        </div>
        <div class="sub">
            <div class="heading">Department:</div> {{input  type="text"  class="fval edit"  value = dataobj.dept }}
        </div>

        <button class="btn btn-warning" {{action "submitedit" dataobj.fname  dataobj.phno dataobj.dept}}>Edit
            Data</button>
    </div>



    {{/each}}
</div>